<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="GithubListenerBundleTests">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="KERNEL_CLASS" value="Nanaweb\GithubListenerBundle\Tests\Functional\AppKernel"/>
    </php>
</phpunit>
